server:
  port: 20261
spring:
  application:
    name: account
  profiles:
    active: dev
  config:
    import: optional:configserver:http://localhost:8888
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9090
eureka:
  instance:
    instance-id: ${spring.application.name}
    prefer-ip-address: true
